<div id="<%= dom_id payment_account %>">
  <p>
    <strong>Reference name:</strong>
    <%= payment_account.reference_name %>
  </p>

  <p>
    <strong>Holder name:</strong>
    <%= payment_account.holder_name %>
  </p>


  <p>
    <strong>Holder address:</strong>
    <pre><%= payment_account.holder_address %></pre>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= payment_account.bank_name %>
  </p>

  <p>
    <strong>Bank address:</strong>
    <pre><%= payment_account.bank_address %></pre>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= payment_account.account_number %>
  </p>

  <p>
    <strong>Sort code:</strong>
    <%= payment_account.sort_code %>
  </p>
</div>
